.cats-profile-title {
  font-family: @font;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
}

.cats-profile__list, .cats-profile__list-radio {
  list-style: none;
  font-size: 16px;
  padding: 0;
  text-transform: uppercase;
}

