.products__list {
  padding: 0;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(1, 320px);
  grid-template-rows: repeat(8, 210px);
  flex-direction: column;
}

.products__item {
  list-style: none;
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 50%);
}

.products-order {
  padding: 10px 109px 10px 109px;
}

.item-title {
  .title-h3();
  width: 75px;
}

.products__table {
  .paragraph();
}

