.way-of-working {
  width: 100%;
}

.way-of-working__title {
  .title-h1();
  margin: 0 auto;
}

.way-of-working__list {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.way-of-working__item {
  .paragraph();
  padding: 0;
  padding-left: 100px;
  padding-top: 13px;
  padding-bottom: 13px;
  max-width: 199px;
}

.way-of-working__composition {
  background: url(../img/leaf.svg) no-repeat 20px 10px;
}

.way-of-working__use {
  background: url(../img/water.svg) no-repeat 20px 10px;
}

.way-of-working__replace {
  background: url(../img/cutlery.svg) no-repeat 20px 10px;
}

.way-of-working__changes {
  background: url(../img/clock.svg) no-repeat 20px 10px;
}
